{% extends 'base.html' %}

{% block content %}

<a href="{% url 'playlist_create' %}" class="btn btn-primary mb-3">Criar Playlist</a>


{% for playlist in playlists %}
<li>
    {{ playlist.nome }}
    
    <a href="{% url 'playlist_detail' playlist.pk %}">Detalhes</a>
    <a href="{% url 'playlist_update' playlist.pk %}">Editar</a>
    <a href="{% url 'playlist_delete' playlist.pk %}">Excluir</a>
</li>

{% endfor %}
</ul>

<!-- Paginação -->
<nav aria-label="Navegação de páginas">
    <ul class="pagination">
        {% if page_obj.has_previous %}
            <li class="page-item">
                <a class="page-link" href="?page=1" aria-label="Primeira">
                    <span aria-hidden="true">&laquo;&laquo;</span>
                </a>
            </li>
            <li class="page-item">
                <a class="page-link" href="?page={{ page_obj.previous_page_number }}" aria-label="Anterior">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
        {% else %}
            <li class="page-item disabled"><span class="page-link">&laquo;&laquo;</span></li>
            <li class="page-item disabled"><span class="page-link">&laquo;</span></li>
        {% endif %}

        <li class="page-item active">
            <span class="page-link">Página {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}</span>
        </li>

        {% if page_obj.has_next %}
            <li class="page-item">
                <a class="page-link" href="?page={{ page_obj.next_page_number }}" aria-label="Próxima">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
            <li class="page-item">
                <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}" aria-label="Última">
                    <span aria-hidden="true">&raquo;&raquo;</span>
                </a>
            </li>
        {% else %}
            <li class="page-item disabled"><span class="page-link">&raquo;</span></li>
            <li class="page-item disabled"><span class="page-link">&raquo;&raquo;</span></li>
        {% endif %}
    </ul>
</nav>
</div>
{% endblock %}